name: Create dev fido image

on:
  workflow_dispatch:
    inputs:
      branch:
        required: true
        default: main
      
      base_image_tag:
        required: true
        default: 1.1.*
        
      new_docker_tag:
        required: true
        default: latest
      environment:
        type: environment
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: DEV
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: cloneing
        run: git clone https://oauth2:${{ vars.MARCOTOKEN }}@github.com/guarddog-dev/docker-fido.git

      - name: Log in to Docker Hub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          username: ${{ vars.DOKCERNAME }}
          password: ${{ vars.DOCKERPASS }}
          
      - name: Build Docker image
        run: |
          cd docker-fido
          git checkout ${{ inputs.branch }}
          docker build --build-arg BASETAG=${{ inputs.base_image_tag }}   -t guarddogai/dev:${{ inputs.new_docker_tag }}  -f dockerfile_prod_alpine .

      - name: Push Docker image
        run: docker push guarddogai/dev:${{ inputs.new_docker_tag }}
